* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a { text-decoration: none;}

ul {
	list-style: none;
}

.debug {
	border: 1px red solid;
}

header main nav footer article section aside {	display: block; }

header, main, nav, footer { padding: 5px 15px; }

.header-logo {
	width: 40px;
	height: 40px;
}

header {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	color: lightblue;
}


main {
	margin: 5px 15px;
	border-radius: 5px;
	border: 1px lightgray solid;
}

nav { background-color: lightblue;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

footer { background-color: gray; 
	display: flex;

	position:fixed;
	bottom: 0;
	z-index: 20;
	width: 100%;

}
footer a { color: white; font-weight: normal; padding: 5px; }


.footer { display: flex; flex-direction: row; justify-content: space-around; }


.forecast-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px #add8e6 solid;
	flex-wrap: wrap;
}
.forecast-row span {margin: 0 10px;}
.forecast-row label {color: #3d7e9a;}
.forecast-row img {width: 50px; height: auto;}

.forecast-data span  {
		display: inline-block; 
		/*border: 1px red solid; */
		
		width: 120px;
	}


.button-get-weather {
	margin: 0 20px;
	padding: 3px 10px;
	font-size: 0.8em;
		background-color: inherit;	
	border: 1px #3d7e9a solid;
	border-radius: 5px;	
}


.nav-button {
	font-size: 1.06em;
	background-color: inherit;	
	border: 1px #3d7e9a solid;
	border-radius: 5px;	
}

.search-form {
	border: 1px #3d7e9a solid;
	font-size: 1.26em;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.search-form input {
	margin: auto 0px;
	height: 100%;
	border: none;
	width: 300px;
	padding: 0 5px;
}


.search-button {
	background-color: inherit;	
	height: 100%;
	padding: 0 5px;
	
	border: none;
}

.awesome-spinner {
	color: #add8e6;
	display: flex;
	justify-content: center;	
}
.search-form > .svg-inline--fa {
	height: 1.3em;
	width: 1.5em;
	margin-top: 0.2em;
	margin-bottom:  0.2em;
	color: #3d7e9a;
}

.forecast-title {
	background-color: lightblue;
	text-align: center;
	padding: 5px;
}

.forecast-title h4 {
	margin: 0 auto;
}