* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a { text-decoration: none;}

header main nav footer article section aside {	display: block; }

header, main, nav, footer { padding: 5px 15px; }

.header-logo {
	width: 40px;
	height: 40px;
}

header {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	color: lightblue;
}


main {
	margin: 5px 15px;
	border-radius: 5px;
	border: 1px lightgray solid;
}

nav { background-color: lightblue;}

footer { background-color: gray; }
footer a { color: white; font-weight: normal; padding: 5px; }

.footer { display: flex; flex-direction: row; justify-content: space-between; }


